<input [(ngModel)]="inputText" type="text">
<button (click)="addTodo()">Add</button>
<br />
<div *ngFor="let todo of todoArray; let i = index">
    <div>
        <span class="inputTodo">{{ todo.todo }} <button (click)="removeTodo(i)">Delete</button><button (click)="updateTodo(i)">Update Todo</button><button (click)="markAsDone(i)">Done</button></span>
        <br />
        <span *ngIf="todo.updateThis"><input [(ngModel)]="updateText" type="text" /><button (click)="update(i)">Update</button></span>
    </div>
</div>